/* importing the aref Ruqaa and ballet font */
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
@import url('https://fonts.googleapis.com/css?family=Ballet');
@import url('https://fonts.googleapis.com/css?family=Caudex');

/* reset margin*/
body, html {
    margin: 0; 
  }

    /* height sets the dimensions of the page */
    html,
    body {
        height: 100%;
        font-family: "Constantia";
        background-color: white;
    }
    /* set the margin for paragraphs. Each values corresponds to: top, right, bottom, left  */
    p{
        margin: 0.5em 0 0.5em 0 ;
        color:black;
    }
    
    /* grey box in header */
    /* styling nav bar */
    header > nav{
        /* centres nav bar */
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%; /* sets the nav bar to 100% width of window*/
        background-color: #F2A679;
        height: 50px;
    }

    

    /* sets the color of the links on the window and after the links have been clicked */
    nav a:visited,
    nav a:link {
        color: darkred;
        /* gets rid of the line under the links*/
        text-decoration: none;
    }
    /* gets rid of bullet points on list and gets rid of space inbetween*/
    nav > ul {
        display: inline;
        padding: 0;
    }
    /* puts the links in the nav bar next to each other*/
    nav > ul > li {
        /* inline puts the links next to each other,but block means you can
        still have control over width, marin, padding... */
        display: inline-block;
        list-style: none;/* tells the browser to not interpret this item as a list item  */
        margin: 0 35px 0 35px;
    }

    nav > ul > button{
        float: right; 
        position: absolute; 
        top: 0; 
        right: 0; 
        width: 60px; 
        height: 50px;
        background-color: #F2A679;
        border: #F2A679;
        
        
    }

    nav > ul > button > img{
        object-fit: contain; 
        width: 50%; 
        height: 50%;
        object-fit: cover; 
        width: 100%; 
        height: 100%;
    
        
    }


   


    
    
    /* adds an image to the background*/
    main {
        display: block;
    
        /* another way to adjust dimensions of an object */

        min-height: 85%;
    }
    
    /* affects the nav bar at the bottom of the page*/
    footer{
        display: flex;
        flex-direction: column;
        padding: 15px; /* this is fixed */
        align-items: center;
        position: relative;
        width: 100%; /* sets the nav bar to 100% width of window*/
        background-color: #F2A679;
        height: 63px;
        
    }

    
    
    
    
    /* gives the image, named aside in index page, a padding
    in this case its the logo */
    aside,
    article {
        padding: 2em;  /* creates size based off the current font size */
    }                   /* em is proportional value, changes to create flexible layouts */
    
    /* Centre an image within a container. Now, when the website is on a phone the logo stacks
    above the main image. But when its in full desktop size it is next to teh image.
    NOT WORKING FOR ME RN! */
    aside {
        text-align: center;
    }
    
  
    
    /* targets desktop viewing*/
    @media only screen and (min-width: 768px) {
        /* creates two columns*/
        main {
            display: flex;
        }
        /* want to logo to pull away from left side of screen a little bit*/
        aside {
            margin-left: 2%;
        }
    }
    
    div {
        background-color: beige;
        color: rgb(112, 166, 104);
        width: 100%;

    }
    
    
    
    
    /* text Styling */

    /* title */
    h1 {
        color: #7E8C61;
        font-size: 20px;
        text-align: center;
        padding:20px;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
    
    }
    /* also title */
    h2 {
        color: #7E8C61;
        /* sets font and back up font */
        font-family: "Ballet", "Brush Script MT";
        font: 400;
        font-size: 63px;
        margin-bottom: 0.1em;
        margin-top: 0.1em;
    }

    /* menu header */
    h3{
        font-family: "Caudex", "Brush Script MT";
        position: absolute; /* makes the container the reference point for the heading */
        
    }

    

    /*Container styling */

    /* / beige box in header */
    .logo-container {
        width:100%;  /* makes container length of webpage */
        height: 150px;
        background-color: #F2CDA0;
        font-family: "Aref Ruqaa", "Brush Script MT";
        display: flex; /* makes the larger container a flex container */
        justify-content: center; /* centers the container horizontally */
        padding-top: 60px;
    }
   

    /* container containing title */
    .title-container{
    /* sets size of container    */
    width: 300px;
    height:100px;
    line-height: 0px;/* reduces space between lines */
    padding:10px;/* adds space between text and top of the container */
    background-color: #F2CDA0;
    }
    
    /* invisible container */
    .image-container {
        /* container created to allow logo to be positoned
        on top left of title container */
        width: 300px;
        height:100px;
        background-color: #F2CDA0
    }

    /* fixed nav bar to the top of page when user is scrolling */
    .nav-container {
    position: fixed; /* Fix the position of the element */
    z-index: 1; /* Make sure the element is on top of other elements */
    top: 0;
    z-index: 12;
}
     /* logo */
    .logo-container img{
         /* sets size for logo */
        width: 140px;
        height: 130px;
        /* sets position    */
        position: absolute;
        top:7%;
    }   

    .banner-container > p{
        text-align: center;
        font-family: "Caudex", "Brush Script MT";
        font-size: 60px;
        z-index: 10;
        font-weight: bold;
        color: black;
        
    }

    .banner-container{
        z-index: 5;                /*sets the index of banner so components can overlap it and some cant */
        
        
    }
    /* facebook, twitter, instagram and tiktok social icons in footer */
    .socialIcons{
        background-color: #F2A679;
        padding: 0;
        list-style: none; /*removed bullet point */
        margin: 0 35px 0 35px;
        display: flex;  /*displays icons horizontrally  */
        align-items: center;
        
    }
    /* pizza banner image */
    .banner {
        width: 100%;
        max-width: 100%;
        position: absolute; /* positions the image relative to the header */
        left: 0; /* aligns the left side of the image with the left side of the header */
        right: 0;
        z-index: -1;
    }


    .animate {
        animation: pulse 1s infinite;
      }
      
     @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }

      .grid{
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        
      }
      .grid-item{
        width: 20%;
        padding: 10px;

      }

    /* Popup container */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
    
    /* The actual popup (appears on top) */
    .popup .popuptext {
      visibility: hidden;
      width: 900px;
      height: 900px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 4;
      /* bottom: 125%; */
      left: 50%;
      
    }
    
    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s
    }
    
    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }
    

    

   

   


    




      
    
    
  



   
      
  